@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-size: 16px;
  font-weight: 400;

  height: 100%;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.75); */
  /* background-color: #242424; */
  background-image: url('/bg/bg-mountains.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @apply text-white/75 selection:bg-p-base selection:bg-opacity-30;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#app {
  flex: 1;
  display: flex;
  height: 100%;
  overflow: inherit;
}

.iconfont {
  width: var(--iconsize, 1em);
  height: var(--iconsize, 1em);
  display: var(--icondisplay, inline-block);
  fill: currentColor;
  overflow: hidden;
  vertical-align: -0.15em;
}

@layer base {
  :root {
    --color-base: 36, 36, 36;
    --color-text-base: 255, 255, 255;
    /* 4 */
    --color-accent: 92, 92, 244;
    --color-weak: 50, 50, 50;
  }

  /* .theme-light {
    --color-base: 36, 36, 36;
    --color-text-base: 255, 255, 255;
    --color-accent: 57, 120, 252;
  }

  .theme-dark {
    --color-base: 36, 36, 36;
    --color-text-base: 255, 255, 255;
    --color-accent: 57, 120, 252;
  } */
}

@layer components {
  .left-list-select {
    @apply text-white before:absolute before:right-0 before:top-1/2 before:h-6 before:w-1 before:-translate-y-1/2 before:rounded before:bg-p-base before:shadow-xl;
  }

  .bg-weak-dark {
    box-shadow: inset 0 0 0 10rem #0000000d;
  }
}

/* For Firefox Browser */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #000 #fff;
}

/* For Chrome, EDGE, Opera, Others */
.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded bg-p-dark;
}

/* vue transition style */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
